body {
  min-height: 100vh;
  background-image: radial-gradient(circle at center, #0a4700 0%, #002400 80%, #000000 100%);
}

body h1 {
  font-size: 3rem;
  color: #1bff80;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}


.navbar .navbar-content{
  /* background-image: radial-gradient(circle at center, #0a4700 0%, #002400 80%, #000000 100%); */
  background-color: black;
}

container .icon{
  color: #1bff80;
}

container .icon:hover{
  color:white;
}

.navbar .navbar-text{
  color: #1bff80;
  font-family: "Courier New", Courier, monospace;
}

container .logout-button{
  color: #1bff80;
  font-family: "Courier New", Courier, monospace;
}

.navbar .login-text{
  color: #1bff80;
  font-family: "Courier New", Courier, monospace;
}

.navbar .reg-text{
  color: #1bff80;
  font-family: "Courier New", Courier, monospace;
}

.navbar .reg-text .login-text:hover{
  color: white;
  font-family: "Courier New", Courier, monospace;
}

.navbar{
  background-color: black;
}

.toolbar-contents{
  background-color: black;
  min-height: 100vh;
}
